/*Contacte*/
.contacte {
    background: linear-gradient(90deg, #2E1114 0%, #2E1114 30%, #501B1D 30%, #501B1D 100%);
}


/*Despre*/
.about-us {
    display: flex;
}

.inform {
    text-align: start;
    margin: 16px 32px;
}

.about-us h1 {
    font-size: 4rem;
    padding-bottom: 16px;
    color: #caa1b5;
    text-align: center;
}

.about-us p {
    color: #caa1b5;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}

.about-us img {
    width: 1125px;
    margin-right: 10px;
}

.about {
    background: linear-gradient(90deg, #2E1114 0%, #2E1114 30%, #501B1D 30%, #501B1D 100%);
}


/*Pagina principală*/
.hover-box-container {
    display: flex;
    justify-content: center;
}

.hover-box {
    width: 500px;
    height: 200px;
    background-color: #cccccc6e;
    border-radius: 10px;
    margin: 0 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.hover-box:hover {
    transform: scale(1.1);
}

.hover-box h2 {
    color: #64485c;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.hover-box p {
    font-size: 104px;
    text-align: center;
    margin-top: 10px;
}

.acasa {
    background-image: url(./images/background2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.counter {
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

.count {
    animation: count 5s ease-in-out;
}

@keyframes count {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.bg-container {
    position: relative;
    backdrop-filter: blur(5px);
}

nav {
    background-color: rgba(0, 0, 0, 0.308);
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 0;
}

.bold {
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 75px;
    margin: 10px;
}

.logo h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: normal;
    font-family: "Trirong", monospace;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", sans-serif;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: right;
    padding: 30px 26px;
    text-decoration: none;
}

nav li a:hover {
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.letter {
    color: #880e0e;
}

.container-right {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    background: transparent;
}

.container-right .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #fdd7aa;
    float: right;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.container-right .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e83143;
    transition: 0.5s;
    z-index: 1;
}

.container-right .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container-right .box .icon .fa-thin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #789499;
}

.container-right .box:hover .icon .fa-thin {
    font-size: 40px;
}

.container-right .box .text {
    position: absolute;
    top: 80%;
    height: 100% - 80px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container-right .box:hover .text {
    top: 80px;
    opacity: 1;
}

.container-right .box .text h3 {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 24px;
}

.container-right .box .text p {
    margin: 0;
    padding: 0;
    color: black;
}

.container-left {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    background: transparent;
}

.container-left .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #fdd7aa;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.container-left .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e83144;
    transition: 0.5s;
    z-index: 1;
}

.container-left .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container-left .box .icon .fa-solid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #789499;
}

.container-left .box:hover .icon .fa-solid {
    font-size: 40px;
}

.container-left .box .text {
    position: absolute;
    top: 80%;
    height: 100% - 80px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container-left .box:hover .text {
    top: 80px;
    opacity: 1;
}

.container-left .box .text h3 {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 24px;
}

.container-left .box .text p {
    margin: 0;
    padding: 0;
    color: black;
}

/*Contacte*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2 {
    color: white;
    font-weight: 100;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4 fr;
    grid-template-areas:
        "form info"
        "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    color: #501B1D;
    font-weight: 100;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* form */
.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row50 .inputBox {
    width: 100%;
}

.inputBox span {
    color: #501B1D;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"] {
    background: #64485c;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox ::placeholder {
    color: #adadad;
}

/* info*/
.info {
    background: #83677b;
}

.info h3 {
    color: #fff;
    font-weight: 500;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p {
    color: white;
    font-size: 1.1em;
    font-weight: 100;
}

.info .infoBox div a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.sci {
    margin-top: 40px;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a {
    color: #fff;
    font-size: 2em;
    color: white;
}

.sci li a:hover {
    color: #fff;
}

.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
}

/*Chestionar*/
@media (max-width: 991px) {
    body {
        background: #501B1D;
    }

    .contactUs {
        padding: 20px;
    }

    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "form"
            "info"
            "map";
    }

    .map {
        min-height: 300px;
    }

    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputBox {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }

    .map {
        min-height: 300px;
        padding: 0;
    }
}

/*Loading Screen*/
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-screen p {
    font-size: 24px;
    font-weight: bold;
}

.pl {
    width: 6em;
    height: 6em;
}

.pl__ring {
    -webkit-animation: ringA 2s linear infinite;
    animation: ringA 2s linear infinite;
}

.pl__ring--a {
    stroke: #f42f25;
}

.pl__ring--b {
    -webkit-animation-name: ringB;
    animation-name: ringB;
    stroke: #f49725;
}

.pl__ring--c {
    -webkit-animation-name: ringC;
    animation-name: ringC;
    stroke: #255ff4;
}

.pl__ring--d {
    -webkit-animation-name: ringD;
    animation-name: ringD;
    stroke: #f42582;
}

/* Animații */
@-webkit-keyframes ringA {

    from,
    4% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }

    12% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -335;
    }

    32% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -595;
    }

    40%,
    54% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -660;
    }

    62% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -665;
    }

    82% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -925;
    }

    90%,
    to {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -990;
    }
}

@keyframes ringA {

    from,
    4% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }

    12% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -335;
    }

    32% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -595;
    }

    40%,
    54% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -660;
    }

    62% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -665;
    }

    82% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -925;
    }

    90%,
    to {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -990;
    }
}

@-webkit-keyframes ringB {

    from,
    12% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -110;
    }

    20% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -115;
    }

    40% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -195;
    }

    48%,
    62% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    70% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    90% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -305;
    }

    98%,
    to {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }
}

@keyframes ringB {

    from,
    12% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -110;
    }

    20% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -115;
    }

    40% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -195;
    }

    48%,
    62% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    70% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    90% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -305;
    }

    98%,
    to {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }
}

@-webkit-keyframes ringC {
    from {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    8% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    28% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    36%,
    58% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    66% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    86% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    94%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}

@keyframes ringC {
    from {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    8% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    28% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    36%,
    58% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    66% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    86% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    94%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}

@-webkit-keyframes ringD {

    from,
    8% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    16% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    36% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    44%,
    50% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    58% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    78% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    86%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}

@keyframes ringD {

    from,
    8% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    16% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    36% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    44%,
    50% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    58% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    78% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    86%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}